.button {
    background: rgb(52, 80, 181);
    padding: 0.5em 2em;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    color: white;

    &:hover {
        background: #3c6bee;
        color: #ffffff;
    }

    &:disabled {
        opacity: 0.5;
    }
}